{% extends 'trades/base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-5" style="width: 450px;">
    <div class="card p-3 border-dark">
        <table class="table bg-white rounded shadow-sm">
           
    
            <tbody>
           
                <tr><td>Ticker:</td><td>{{ trade.ticker }}</td></tr>
                <tr><td>Company:</td><td>{{ trade.company_name }}</td></tr>
                <tr><td>Date:</td><td>{{ trade.purchase_date }}</td></tr>
                <tr><td>No. Shares:</td><td>{{ trade.quantity }}</td></tr>
                <tr><td>Market Price:</td><td>{{ trade.latest_share_price|floatformat:"2"|intcomma }}</td></tr>
                <tr><td>Original Value:</td><td>{{ trade.initial_share_value|floatformat:"2"|intcomma }}</td></tr>
                <tr><td>Market Value:</td><td>{{ trade.latest_share_value|floatformat:"2"|intcomma }}</td></tr>

                  
                  <tr>
                    <td>Gain / Loss:</td>
                    {% if trade.latest_gain_loss < 0 %}
                        <td class="loss"> {{ trade.latest_gain_loss|floatformat:"2"|intcomma }} </td>
                        {% else %} 
                        <td scope="row" class="gain"> {{ trade.latest_gain_loss|floatformat:"2"|intcomma }} </td>
                    {% endif %}
                  </tr>
    
    
    
            </tbody>
        </table>

        <a href="{% url 'viewtrades' %}" class="btn btn-success mb-3 mt-5">
            <i class="fas fa-home"></i>&nbsp;&nbsp; Back
        </a>
        
    </div>
</div>

{% endblock content %}
