{% extends 'trades/base.html' %}

{% block nav-content %}
Trades
{% endblock nav-content %}

<!-- Crispy Form Tag -->
{% load crispy_forms_tags %}


<!-- Page Content -->
{% block content %} 

<div class="container mt-5" style="width: 450px;">
    <div class="card p-3 border-dark">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br><hr>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              <a href="{% url 'viewtrades' %}" class="btn btn-secondary">Cancel</a>
            </div>
            <hr>
        </form>
    </div>
</div>

{% endblock content %}