{% extends 'base.html' %}

{% block content %}
<a href="{% url 'createtrade' %}" class="btn btn-outline-primary mb-3 mt-5">
    <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Trade
</a>

<table>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Company</th>
            <th>Currency</th>
            <th>Qty</th>
            <th>Date</th>
            <th>Orig Price</th>
            <th>Orig Value</th>
            <th>New Price</th>
            <th>New Value</th>
            <th>Gain / Loss</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for trade in object_list %}
        <tr>
            <td>{{ trade.ticker }}</td>
            <td>{{ trade.company_name }}</td>
            <td>{{ trade.share_currency }}</td>
            <td>{{ trade.quantity }}</td>
            <td>{{ trade.purchase_date }}</td>
            <td>{{ trade.initial_share_price }}</td>
            <td>{{ trade.initial_share_value }}</td>
            <td>{{ trade.latest_share_price }}</td>
            <td>{{ trade.latest_share_value }}</td>
            <td>{{ trade.latest_gain_loss }} </td>
            <td><a href="{% url 'updatetrade' pk=trade.id %}"> Update</a></td>
            <td><a href="{% url 'deletetrade' pk=trade.id %}"> Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}