{% extends 'trades/base.html' %}

<!-- Navbar Content -->
{% block nav-content %}

{% endblock nav-content %}

<!-- Block Footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock footer %}

<!-- Page Content -->
{% block content %}
<br>
<div class="container mt-5 mb-2" style="width: 450px;">
    <div class="card p3 border-dark">
        <h6 class="modal-title">
            &nbspDeleting a Trade
        </h6>
        <hr>
        <div class="text-center text-dark"><i class="far fa-trash-alt fa-5x mb-4 mt-2"></i></div>
        <div class="text-center text-danger">
            <span>Confirm Delete?</span>
            <div class="text-dark mt-3 mb-2"><strong>{{ trade.quantity }} shares of {{ trade.ticker }} - {{ trade.company_name }}</strong></div>
        </div>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger btn-sm mx-2 mb-2" value="Delete" style="float: right;">
            <a href="{% url 'viewtrades' %}" class="btn btn-secondary btn-sm mb-2" style="float: right;">Cancel</a>
        </form>
    </div>
    <br><hr><br>
    <span class="text-center mx-auto">If you proceed, this trade will be permenantly deleted.</span>
</div>
{% endblock content %}